*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.banner{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(hex(#000000), hex(#FF7300)), url(train.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
}
.logo{
    cursor: pointer;
    border-radius: 50%;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;  
    margin: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color: #fff;
    text-align: center;
}
.content h1{
    font-size: 65px;
}
body{
	background:url("html1/train.jpg");
	animation:image 5s infinite alternate;
	-webkit-animation:image 5s infinite alternate;
	-moz-animation:image 5s infinite alternate;
    padding: 10px;
    
}
@keyframes image{
	0%{
		background:url("html1/train.png");
	}

	25%{
		background:url("html1/train2.png");
	}

	50%{
		background:url("html1/ses.png");
	}

	75%{
		background:url("html1/kitaplık.png");
	}

	100%{
		background:url("html1/bilardo.png");
	}
}
button{
    width: 200px;
    padding: 15px 0;
    border-radius: 35px;
    margin: 20px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    color: rgb(254, 114, 0);
    transition: 1s;


}
